:root{
    --app-color-primary: #483D8B;
    --app-color-secondary: #FF9D19;
    --app-color-footer:#30343F;
    --app-color-tres:#FAFAFF;
}
.col-con-padding{
    margin-bottom: 50px;
}
.row-color{
    font-weight: 700;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--app-color-secondary);
}
.row-color > h1{
    color: white;
}

.wc-top{
    width: 100%;
}

.wc-cp{
    height: 175px;
    background-color: white;
    border-bottom: 1px solid rgb(200,200,200);
    border-left: 1px solid rgb(200,200,200);
    border-right: 1px solid rgb(200,200,200);
    padding: 15px 10px ;
    
}

.cuerpo-card{
    height: 175px;
    background-color: white;
    border-bottom: 1px solid rgb(200,200,200);
    border-left: 1px solid rgb(200,200,200);
    border-right: 1px solid rgb(200,200,200);
    padding: 15px 10px ;
    
    width: 90%;
    min-height: 175px;
    background-color: white;
    margin-top: -75px;
    clear: left;
    clear: both;
}

.mr-b{
    z-index: 20; 
    margin-top: -25px;
}

.link-btn{
    background-color: var(--app-color-secondary);
    color: white;
    font-family: sans-serif-pro;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid var(--app-color-secondary);
}

.link-btn:hover{
    text-decoration: none;
    background-color: white;
    transition: .5s;
    color: var(--app-color-secondary);
    
}

.col-mb{
    padding-bottom: 20px;
}

@media (max-width: 992px) {

    .loc{
        width: 100% !important;
    }
}